<%= image_tag('pochete.jpg') %>
<h1>Pochester Occult Friend</h1>
<p>Seja bem vindo, clique no link para sortear!</p>
<form action="/draw">
  <label for="amout">Quantas pessoas?</label>
  <input type="integer", name='amount'>
  <label for="submit">Sortear</label>
  <input type="submit">
</form>
